nav {
    padding: 20px;
    height: 100%;
}
.nav-bar-holder {
    display: inline-block;
    position: fixed;
    right: 0;
    padding: 10px 70px;
    background: linear-gradient( rgba(37, 47, 60, 0.6), rgba(37, 47, 60, 0.6));
}

.logo-holder {
    display: inline-block;
    position: fixed;
}

nav .nav-tabs {
    list-style: none;  /* Remove bullet points */
    display: flex;     /* Align items in a row */
    padding: 0;
    margin: 0;
}
.nav-tabs li {
    margin: 0;
}

.nav-tabs a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    border-bottom: 2px solid transparent;
    transition: border-color ease-in-out 0.3s;
}

.nav-tabs a:hover,
.nav-tabs a.selected {
    border-color: #fff;
    cursor: pointer;
}

/* Mobile Menu */
.menu-toggle {
    display: none; /* Hidden on desktop */
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: 0.3s;
}

@media (max-width: 767px) {
    .nav-bar-holder {
        background: transparent;
        padding: 10px 50px;
    }
    nav .nav-tabs {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background: linear-gradient( rgba(37, 47, 60, 0.9), rgba(37, 47, 60, 0.9));
        visibility: hidden;
        transition: all 0.5s ease-in-out; /* Animation for menu appearance */
        opacity: 0;                /* Start menu hidden */
        transform: translateY(-20px); /* Slide-in effect */
    }
    nav .nav-tabs.active {
        visibility: visible;
        opacity: 1;                /* Fade in */
        transform: translateY(0);   /* Slide down */
        transition: all 0.5s ease-in-out; 
    }
    .nav-tabs li {
        text-align: center;
    }
    .menu-toggle {
        display: block;
    }
    /* Animation for active state (when the menu is opened) */
    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
    }

}
