<nav>
    <div class="logo-holder">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><g fill="none" fill-rule="evenodd"><circle cx="24" cy="24" r="24" fill="#FFF"/><path fill="#0B0D17" d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z"/></g></svg>
    </div>
    <div class="nav-bar-holder">
        <div class="menu-toggle" id="mobile-menu" [class.active]="selected" (click)="onClick()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-tabs" [class.active]="selected">
            <li><a [routerLink]="['/home']" routerLinkActive="selected">Home</a></li>
            <li><a [routerLink]="['/destination']" routerLinkActive="selected">Destination</a></li>
            <li><a>Crew</a></li>
            <li><a>Technology</a></li>
        </ul>
    </div>
</nav>>
