:host {
    display: flex;
    height: 100vh;
    margin-top: -75px;
}

.destination-wrapper {
    height: 100%;
    width: 100%;
    background-image: url('../../../public/destination/background-destination-desktop.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

@media (max-width: 767px) {
    :host {
        height: auto;
    }
    .destination-wrapper {
      min-height: 130vh;
    }
}

